# Dependencies
node_modules/

# Build
dist/
*.local

# Env
.env
.env.*
!.env.example

# Editor / OS
.DS_Store
Thumbs.db
*.log
*.swp
*.swo
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# TypeScript / Vite
*.tsbuildinfo
